<h1>exercises new template</h1>
<form>
  <label for='exercise-name'>Name</label>
  <input id='exercise-name' name='name' type='text'>
  <label for='exercise-calories'>Calories</label>
  <input id='exercise-calories' name='calories' type='text'>
  <label for='exercise-difficulty'>Difficulty</label>
  <select id='exercise-difficulty' name='difficulty'>
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3</option>
  </select>
  <input type='submit' value='Create'>
  <button id='cancel'>Cancel</button>
</form>
