<h1>random workout template</h1>
<ul id="workouts">
  {{#each exercises}}
  <li data-id="{{id}}">{{name}}</li>
  {{/each}}
</ul>
<div id="total">Total: {{total}}</div>
<button id="save">save</button>
<button id="cancel">cancel</button>
